<div class="modal modal-sheet position-static d-block bg-body-secondary bg-success-subtle-main-banner" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-body col-md-6 mx-auto mt-5">
        <form action="/all-pets/{{data._id}}/edit" method="POST">
            <input type="hidden" name="id" value="{{data._id}}">
            <p class="mt-3">Pet name:</p>
            <div class="form">
                <input type="text" name="name" value="{{data.name}}" class="form-control rounded-3">
            </div>
            <p class="mt-3">Small description:</p>
            <div class="form">
                <input type="text" name="description" value="{{data.description}}" class="form-control rounded-3">
            </div>
            <p class="mt-3">More details about my pet:</p>
            <div class="form">
                <textarea type="text" name="longDescription" class="form-control rounded-3">{{data.longDescription}}</textarea>
            </div>
                <button class="mt-5 w-100 mb-2 btn btn-lg rounded-3 btn-primary">Save changes</button>
            </p>
        </form>
    </div>
</div>
